<?xml version="1.0" encoding="UTF-8"?>
<!-- Written by Eclipse BIRT 2.0 -->
<report xmlns="http://www.eclipse.org/birt/2005/design" version="3.2.6" id="1">
    <property name="createdBy">Eclipse BIRT Designer Version 2.1.1.v20060922-1058 Build &lt;20060926-0959></property>
    <property name="units">in</property>
    <property name="comments">Copyright (c) 2006 &lt;&lt;Your Company Name here>></property>
    <page-setup>
        <simple-master-page name="MasterPage" id="2">
            <property name="type">a4</property>
            <property name="topMargin">1cm</property>
            <property name="leftMargin">1.25cm</property>
            <property name="bottomMargin">1cm</property>
            <property name="rightMargin">1.25cm</property>
            <property name="headerHeight">4cm</property>
            <property name="footerHeight">3cm</property>
            <page-header>
                <grid name="masterPageHeader" id="14">
                    <property name="width">100%</property>
                    <column id="15">
                        <property name="width">2.673in</property>
                    </column>
                    <column id="16">
                        <property name="width">4.4421052632in</property>
                    </column>
                    <row id="17">
                        <property name="height">1.178in</property>
                        <cell id="18"/>
                        <cell id="19"/>
                    </row>
                    <row id="20">
                        <property name="height">0.297in</property>
                        <cell id="21"/>
                        <cell id="22"/>
                    </row>
                </grid>
            </page-header>
            <page-footer>
                <grid name="masterPageFooter" id="4">
                    <property name="marginTop">0.5cm</property>
                    <property name="marginLeft">0cm</property>
                    <property name="marginBottom">0cm</property>
                    <property name="marginRight">0cm</property>
                    <property name="width">100%</property>
                    <column id="5"/>
                    <row id="6">
                        <cell id="7"/>
                    </row>
                    <row id="8">
                        <cell id="9"/>
                    </row>
                    <row id="10">
                        <property name="height">0.396in</property>
                        <cell id="11"/>
                    </row>
                </grid>
            </page-footer>
        </simple-master-page>
    </page-setup>
</report>
